<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockKextCaches</key>
	<array>
		<string></string>
	</array>
	<key>BooterToPatch</key>
	<array>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Count</key>
			<integer>1</integer>
			<key>Disabled</key>
			<true/>
			<key>Find</key>
			<data>
			</data>
			<key>MatchOS</key>
			<string></string>
			<key>Replace</key>
			<data>
			</data>
			<key>Wildcard</key>
			<string></string>
		</dict>
	</array>
	<key>KernelToPatch</key>
	<array>
		<dict>
			<key>Comment</key>
			<string>KbepMLMav-EXT</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>
			xugwAAAA6whIid8=
			</data>
			<key>MatchOS</key>
			<string>10.8,10.9</string>
			<key>Replace</key>
			<data>
			xugwAAAAkJBIid8=
			</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbepYosECSieHS-EXT</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>
			6CUAAADrBeg=
			</data>
			<key>MatchOS</key>
			<string>10.10-10.13</string>
			<key>Replace</key>
			<data>
			6CUAAACQkOg=
			</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbepMoja-EXT</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>
			6K8AAADrBeg=
			</data>
			<key>MatchOS</key>
			<string>10.14</string>
			<key>Replace</key>
			<data>
			6K8AAACQkOg=
			</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbepEC-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>
			w0iF23RwSIsDSInf/1AoSA==
			</data>
			<key>MatchOS</key>
			<string>10.11</string>
			<key>Replace</key>
			<data>
			w0iF2+sSSIsDSInf/1AoSA==
			</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbepSie-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>
			w0iF23RxSIsDSInf/1AoSA==
			</data>
			<key>MatchOS</key>
			<string>10.12</string>
			<key>Replace</key>
			<data>
			w0iF2+sSSIsDSInf/1AoSA==
			</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbepHSMoja-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>
			w0iF23RpSIsDSInf/1AoSA==
			</data>
			<key>MatchOS</key>
			<string>10.13,10.14</string>
			<key>Replace</key>
			<data>
			w0iF2+sSSIsDSInf/1AoSA==
			</data>
		</dict>
	</array>
	<key>KextsToPatch</key>
	<array>
		<dict>
			<key>Comment</key>
			<string>usb 10.13.6+</string>
			<key>Find</key>
			<data>
			g32IDw+DpwQAAA==
			</data>
			<key>MatchOS</key>
			<string>10.13.x</string>
			<key>Name</key>
			<string>com.apple.driver.usb.AppleUSBXHCI</string>
			<key>Replace</key>
			<data>
			g32ID5CQkJCQkA==
			</data>
		</dict>
	</array>
	<key>Preferences</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>Off</key>
		<false/>
		<key>SaveLogToDeviceTree</key>
		<false/>
		<key>SaveLogToFile</key>
		<false/>
		<key>SaveLogToNvram</key>
		<true/>
	</dict>
	<key>WholePrelinked</key>
	<false/>
</dict>
</plist>
